@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Manrope', sans-serif;
	font-size: 13px;
}

body {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: hsl(210, 46%, 95%);
}

img {
	display: block;
	width: 100%;
}

.drawers {
	background-image: url("../images/drawers.jpg");
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	width: 100%;
	height: 213px;
	border-radius: 10px 10px 0 0;
}

main {
	width: 85%;
	background-color: white;
	border-radius: 10px;
}

main > p:nth-child(2) {
	font-size: 1.2rem;
	font-weight: 700;
	margin: 2rem 2rem 0 2rem;
}

main > p:nth-child(3) {
	margin: 1rem 2rem 2rem 2rem;
	font-size: 1.1rem;
	color:  hsl(214, 17%, 51%);
}

.personinfo {
	display: grid;
	align-items: center;
	grid-template-columns: auto 1fr auto;
	grid-template-rows: auto auto;
	grid-template-areas:
		"image desc share"
		"image date share";
	margin: 0 2rem 1rem 2rem;
	height: 50px;
}

.personinfo > img {
	grid-area: image;
	margin-right: 20px;
	width: 45px;
	border-radius: 50%;
}

.personinfo > span:nth-child(2) {
	font-weight: 700;
	grid-area: desc;
}

.personinfo > span:nth-child(3) {
	grid-area: date;
	color: hsl(214, 17%, 51%);
}

.share {
	grid-area: share;
	background-color: hsl(210, 46%, 95%);
	width: 35px;
	height: 35px;
	border-radius: 50%;
}

.share img {
	transform: scale(0.5);
}

.sharemenu {
	display: none;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50px;
	border-radius: 0 0 10px 10px;
	padding: 0 2rem 0 2rem;
	background-color: hsl(217, 19%, 35%);
}

.sharemenu p {
	letter-spacing: .3rem;
	color: hsl(212, 23%, 69%);
}

.sharemenu :nth-child(2),
.sharemenu :nth-child(3),
.sharemenu :nth-child(4) {
	width: 20px;
	margin-left: 1rem;
}

.sharemenu .share {
	margin: 0 0 0 auto;
	background-color: hsl(214, 17%, 51%);
}

.attribution {
	margin-top: 1rem;
	font-size: 11px; 
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}